.LModal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.LModalContent {
    padding-top: 25px;
    background: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 16px;
    height: 100%;
    transform: translateX(-300px);
    transition: transform 1s ease-out;
    min-width: 300px;
}

.LModal.active{
    display: flex;
    justify-content: start;
    align-items: start;
}
.LModalContent.open {
    transform: translateX(0);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .LModalContent {
        min-width: 130px;
        max-width: 200px;
    }
}